*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
/*    position: fixed;*/
}
.my-name{
    padding-left: 1em;
}

h2{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
nav{
    float: right;
}
nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding: 1em;
    font-size: 1em;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

#nav-icons{
    padding: 
}

.github-image, .linkedin-image, .mail-image{
    max-height: 2em;
}


.my-name{
    font-family:serif;
    font-size: 3em;
}

#introduction{
    margin: 1em;
    padding: 5em 0 2em;
    font-size: 2em;
    text-align: center;
}

#selfie
{
    display: block; /* to center */
    margin: auto;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}