*{ font-family: "Libre Franklin", "Open Sans"; box-sizing: border-box; }

/* Make the nav bar's positions fixed. Solid white background. No gaps around top and left and right. */
nav { position: fixed; width: 100%; background-color: white; top: 0; left: 0; right: 0; }

/* No bullets for nav items */
nav ul { list-style-type: none; padding: 1em; }

/* Makes list items display on the same line */
nav ul li { display:inline; }

/* Removes highlight from underline on the list items */
nav ul li a{ color: #bfbfbf; text-decoration: none; padding: 0.7em;}

/* Makes the links black when hovered with a mouse */
nav ul li a:hover { color: black; }

/* Change font and font size of header */
.nav-my-name { font-family: "Lato"; color: black; }

/* Make the nav images small*/
.github-image, .linkedin-image, .mail-image{ max-height: 2em; }

/* Whole page background color white */
body { font-family: "Karla"; background-color: white; margin: 0 }

/* Padding and white background */
section { padding: 2em; }

/* Spacing for the intro, larger font size and center the text */
#introduction { margin-top: 3em; padding: 1.6em; font-size: 1.6em; text-align: center; padding-top:4em; padding-bottom: 5em; color: white; height: 1em; }

#back-to-top-button{ position: fixed; right: 2%; }

#projects{ margin-top: 3em; background-color: #f2f2f2; }

.pomodoro-img{ max-height: 30em; display: block; margin: auto;}

/* Make the images as large as the display of the screen */
.selfie, .webregplus-img, .garmin-img { width: 100%; }

/* Style for header 2 of the sections */
section h2 { text-align: center; font-size: 3em; color: black; text-decoration: ; }

/* Style for header 3 of the sections */
section h3 { font-family: "Karla"; font-size: 2.2em; }

section p { font-family: "Karla"; font-size: 1.2em; }

/* Style for the footer text */
.footer-text{ text-align: center; font-size: 0.5em; color: dimgrey; }

/* For mobile */
[class*="col-"] {
    width: 100%;
}

/* Media Queries */

/* For tablets */
@media only screen and (min-width: 600px ) {
    .my-name{ font-size: 4em; }
    .nav-text{ font-size: 1.3em; }
    .nav-icons{ font-size: 1.2em; }
    #introduction{ padding-top: 8em; padding-bottom: 4em; font-size: 1.8em; }
    #experience{ padding-bottom: 0em; }
}

/* For tablets */
@media only screen and (min-width: 690px ) {
    #projects{ margin-top: 15em;}
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* For desktop */
@media only screen and (min-width: 768px) {
    nav{ text-align: center; }
    .nav-my-name{ font-size: 2em; float: left; }
    .nav-li-text{ font-size: 1em; text-align: center; padding: 0.4em; }
    .nav-li-icon { font-size: 0.8em; float: right; }
    #introduction{ font-size: 2em; height: 3em; }
    #projects div { width: 60%; margin: auto; }
    #about, #experience { width: 60%; margin:auto; }
    .projects-text{ padding-left: 3em; padding-right: 3em;}
    section div p{ float: right; padding-top: 1em; font-size: 1.2em;}
    .pomodoro-text{ padding-top: 5em; padding-bottom: 5em; padding-left: 10em; padding-right: 10em;}
    .webregplus-img-one{ vertical-align: middle;}
    .webregplus-img-two{ vertical-align: middle; margin-left: 3em;}
    .webregplus-text{ padding: 5em;}
    .garmin-text{ padding: 2em;}
    #experience { padding-bottom: 18em;}
    .footer-text{ padding-left: 0em;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1000px) {
    #introduction{ font-size: 2.4em; padding-top: 8em; padding-bottom: 6em; height: 3em; }
}

@media only screen and (min-width: 1400px) {
    #introduction{ padding-top: 11em; padding-bottom: 5em; height: 3em; }
}

@media only screen and (min-width: 2100px) {
    #introduction{ padding-top: 14em; padding-bottom: 6em; height: 3em; }
}
